<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Professional Self-Assessment</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>
          I started my computer science program in 2019 after deciding to go
          back to school and learn about something that had always fascinated
          me, coding. Before starting the computer science program, I had
          watched YouTube videos and followed projects online, but I still did
          not fully understand what I was doing and what was going on within the
          code that I was writing. I wanted to learn to code because I made the
          decision that programming was the career that I wanted to be a part
          of, and I wanted to learn everything that I could. Almost 4 years into
          my computer science program and what I have learned is that there are
          so many ways to do the same thing. There are many differnet coding
          languages that can get the same job done on a smaller scale, however
          when it comes to working hand in hand with other things like
          databases, security requirements, and even working together as a team
          on a large project, there will be certain guidelines to follow and
          best practices to perform in order to remain within company standards.
          One of the more important things that I had learned in my program is
          the process of commenting your code, and making those comments make
          sense. Before starting the program I never really understood why I
          would comment unless I was stepping away from the project and wanted
          to remind myself what I was doing. I now fully understand that
          commenting code is not only useful for myself to help me understand my
          code and when projects get bigger and bigger it can gelp guide myself
          to what I need to perform, but these are also important for anyone
          else that could come in from behind me and make updates to the
          project.
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          There are three artifacts that I have introduced to this portfolio and
          I wish to display. These fall in line with the Computer Science
          Capstone requirements for fullfilling complex additions or changes to
          previoulsy submitted artifacts throughout my time at SNHU. The
          Software Design and Engineering artifact that I submitted had taught
          me how to create algorithms with C++ and how to take the input from a
          terminal and compare that input to information inside an array. The
          changes you will see display my ability to recreate a C++ linear
          search algorithm using Python as the chosen language. The Algorithms
          and Data Structure artifact was a program created to again teach an
          algorithm that verifies the number of characters from a user input was
          less than an assigned number. If it were less then the program
          accepted the input however, if the characters exceeded the assigned
          amount then the program would error and cancel out. I tasked myself to
          create this project with a complex real world solution that would
          verify a persons name to that of pre assigned strings in an array, and
          if the name matched then a random number would display on the terminal
          allowing the user to move forward. If no name matched then the program
          would error out again and let the user know that the entered name does
          not match. The third and final artifact that I worked on was that of a
          database. Using SQL and MySQL I originally only needed to creat a
          database that would list out vehicle information so that we could
          practice MySQL commands to pull needed information. The changes I made
          was that of adding a new customer information table, and the person
          running the database can then narrow out search results to the
          customer ID and however many vehicles that the customer may own. This
          to me made more real world sense to include with the second table.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://youtu.be/SBDyvKi-Vfg" class="btn btn-lg btn-review">
          <i class="fa-brands fa-youtube"></i> View My Formal Code Review
        </a>
      </div>
    </div>
  </div>
</section>
