<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Hello there! My name is Sam and I am from St. Louis Missouri. I
          currently work as a customer service agent for AT&T. I have over 10
          years of direct and indirect customer service as well as 4 years of
          that being in a leadership role. In 2019 I decided to take on a new
          career interest and began my journey with Southern New Hampshire
          University to receive my Bachelors degree in Computer Science, with my
          main focus on software engineering.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          During my time at SNHU I have gained experience in not only frontend
          and backend development, but also with Android development, 3D
          Graphics development and algorithm development. When I am not creating
          projects for the classroom, I am sharpening my skills with projects
          found on Udemy and other online resources. I have experience with many
          different languages such as C/C++, Javascript, PHP, and my favorites
          being Python and Java.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://youtu.be/SBDyvKi-Vfg" class="btn btn-lg btn-outline">
          <i class="fa-brands fa-youtube"></i> View My Formal Code Review
        </a>
      </div>
    </div>
  </div>
</section>
