<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Professional Self-Assessment</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-2">
        <p>
          I started my computer science program in 2019 after deciding to go
          back to school and learn about something that had always fascinated
          me, coding. Before starting the computer science program, I had
          watched YouTube videos and followed projects online, but I still did
          not fully understand what I was doing and what was going on within the
          code that I was writing. I wanted to learn to code because I made the
          decision that programming was the career that I wanted to be a part
          of, and I wanted to learn everything that I could. Almost 4 years into
          my computer science program and what I have learned is that there are
          so many ways to do the same thing. There are many differnet coding
          languages that can get the same job done on a smaller scale, however
          when it comes to working hand in hand with other things like
          databases, security requirements, and even working together as a team
          on a large project, there will be certain guidelines to follow and
          best practices to perform in order to remain within company standards.
          One of the more important things that I had learned in my program is
          the process of commenting your code, and making those comments make
          sense. Before starting the program I never really understood why I
          would comment unless I was stepping away from the project and wanted
          to remind myself what I was doing. I now fully understand that
          commenting code is not only useful for myself to help me understand my
          code and when projects get bigger and bigger it can gelp guide myself
          to what I need to perform, but these are also important for anyone
          else that could come in from behind me and make updates to the
          project.
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          During my time at SNHU I have gained experience in not only frontend
          and backend development, but also with Android development, 3D
          Graphics development and algorithm development. When I am not creating
          projects for the classroom, I am sharpening my skills with projects
          found on Udemy and other online resources. I have experience with many
          different languages such as C/C++, Javascript, PHP, and my favorites
          being Python and Java.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://youtu.be/SBDyvKi-Vfg" class="btn btn-lg btn-outline">
          <i class="fa-brands fa-youtube"></i> View My Formal Code Review
        </a>
      </div>
    </div>
  </div>
</section>
